<%= form_with(model: result, class: "contents") do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul class="list-disc ml-6">
        <% result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :match_id %>
    <%= form.text_field :match_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": result.errors[:match_id].none?, "border-red-400 focus:outline-red-600": result.errors[:match_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :winning_team_id %>
    <%= form.number_field :winning_team_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": result.errors[:winning_team_id].none?, "border-red-400 focus:outline-red-600": result.errors[:winning_team_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :team1_score %>
    <%= form.number_field :team1_score, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": result.errors[:team1_score].none?, "border-red-400 focus:outline-red-600": result.errors[:team1_score].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :team2_score %>
    <%= form.number_field :team2_score, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": result.errors[:team2_score].none?, "border-red-400 focus:outline-red-600": result.errors[:team2_score].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
