<div id="<%= dom_id result %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Match:</strong>
    <%= result.match_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Winning team:</strong>
    <%= result.winning_team_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Team1 score:</strong>
    <%= result.team1_score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Team2 score:</strong>
    <%= result.team2_score %>
  </div>
</div>
