<%= form_with(model: match, class: "contents") do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(match.errors.count, "erreur") %> empêchent la sauvegarde de ce match :</h2>

      <ul class="list-disc ml-6">
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :team1_id, "Équipe 1" %>
    <%= form.collection_select :team1_id, @teams, :id, :name, { prompt: "Sélectionner une équipe" }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": match.errors[:team1_id].none?, "border-red-400 focus:outline-red-600": match.errors[:team1_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :team2_id, "Équipe 2" %>
    <%= form.collection_select :team2_id, @teams, :id, :name, { prompt: "Sélectionner une équipe" }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": match.errors[:team2_id].none?, "border-red-400 focus:outline-red-600": match.errors[:team2_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :date, "Date du match" %>
    <%= form.datetime_local_field :date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": match.errors[:date].none?, "border-red-400 focus:outline-red-600": match.errors[:date].any?}], min: Time.current.in_time_zone('Paris').strftime("%Y-%m-%dT%H:%M") %>
  </div>

  <div class="mt-6">
    <%= form.submit "Sauvegarder", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
